## Oracle 
--- 
Forecast - Forms
1.  Export Jax forecast, save as JAX FC.csv in Resources folder.
2.  Export Lex forecast, save as LEX FC.csv in Resources folder.

---
Open Orders - All WABCUST Reports, WABCUST YTS OPEN ORDER REPORT - XML

3.  Org ID - Jax, Exclude order type:  YTS - Internal Orders, save as JAX OPEN ORDERS.csv in Resources folder.
4.  Org ID - Lex, Exclude order type:  YTS - Internal Orders, save as LEX OPEN ORDERS.csv in Resources folder.

## For test_2, modified csv into Excel then split the Comment column into two columns.  This eliminated the error for the items with no Customer listed in Comment.

In [1]:
# Import libraries
import pandas as pd
#from pandas import ExcelWriter
#from pandas import ExcelFile
#import datetime
#import matplotlib as plt
import numpy as np

## Jax forecast clean up

In [2]:
# Load jax fc file
jax_fc_file = "Resources/JAX FC EXCEL.xlsx"

# Read Excel file into DataFrame, set Item as index
#jax_fc = pd.read_csv(jax_fc_file, index_col = "Item", parse_dates=["Date"])
jax_fc = pd.read_excel(jax_fc_file, index_col = "Item")
jax_fc.head()

,Bucket,Date,End Date,Number of Buckets,Current,Original,Total,Confidence(%),Project Number,Unnamed: 10,Task Number,Line,Customer,Price,Forecast,[ ]
Item,,,,,,,,,,,,,,,,
YT04906-089.50,Days,2021-03-16,NaN,1,22,22,22,100,NaN,NaN,NaN,NaN,CAT,41.0,JAX-FCST,.
YT04906-089.50,Days,2021-04-20,NaN,1,33,33,33,100,NaN,NaN,NaN,NaN,CAT,41.0,JAX-FCST,.
YT04906-089.50,Days,2021-05-18,NaN,1,21,21,21,100,NaN,NaN,NaN,NaN,CAT,41.0,JAX-FCST,.
YT04906-089.50,Days,2021-06-15,NaN,1,58,58,58,100,NaN,NaN,NaN,NaN,CAT,41.0,JAX-FCST,.
YT04906-089.50,Days,2021-07-20,NaN,1,36,36,36,100,NaN,NaN,NaN,NaN,CAT,41.0,JAX-FCST,.

In [3]:
# Remove extra columns 
jax_fc = jax_fc[["Date", "Current", "Customer", "Price"]]
jax_fc.head()

                     Date  Current Customer  Price
Item
YT04906-089.50 2021-03-16       22      CAT   41.0
YT04906-089.50 2021-04-20       33      CAT   41.0
YT04906-089.50 2021-05-18       21      CAT   41.0
YT04906-089.50 2021-06-15       58      CAT   41.0
YT04906-089.50 2021-07-20       36      CAT   41.0

In [4]:
# Change Current to Qty
jax_fc = jax_fc.rename(columns = {"Current": "Qty"})
jax_fc.head()

                     Date  Qty Customer  Price
Item
YT04906-089.50 2021-03-16   22      CAT   41.0
YT04906-089.50 2021-04-20   33      CAT   41.0
YT04906-089.50 2021-05-18   21      CAT   41.0
YT04906-089.50 2021-06-15   58      CAT   41.0
YT04906-089.50 2021-07-20   36      CAT   41.0

In [5]:
# Remove Qty 0
jax_fc = jax_fc[jax_fc["Qty"] != 0]
jax_fc.head()

                     Date  Qty Customer  Price
Item
YT04906-089.50 2021-03-16   22      CAT   41.0
YT04906-089.50 2021-04-20   33      CAT   41.0
YT04906-089.50 2021-05-18   21      CAT   41.0
YT04906-089.50 2021-06-15   58      CAT   41.0
YT04906-089.50 2021-07-20   36      CAT   41.0

In [6]:
#Check data types
jax_fc.dtypes

Date        datetime64[ns]
Qty                  int64
Customer            object
Price              float64
dtype: object

In [7]:
# Count of items
jax_fc.count()

Date        316
Qty         316
Customer    316
Price       316
dtype: int64

In [8]:
# Add extended price column and populate with Price * Qty
jax_fc["Extended Price"] = jax_fc.Price * jax_fc.Qty
jax_fc.head()

                     Date  Qty Customer  Price  Extended Price
Item
YT04906-089.50 2021-03-16   22      CAT   41.0           902.0
YT04906-089.50 2021-04-20   33      CAT   41.0          1353.0
YT04906-089.50 2021-05-18   21      CAT   41.0           861.0
YT04906-089.50 2021-06-15   58      CAT   41.0          2378.0
YT04906-089.50 2021-07-20   36      CAT   41.0          1476.0

In [9]:
# Add column TYPE
jax_fc["Type"] = "FC"
jax_fc.head()

                     Date  Qty Customer  Price  Extended Price Type
Item
YT04906-089.50 2021-03-16   22      CAT   41.0           902.0   FC
YT04906-089.50 2021-04-20   33      CAT   41.0          1353.0   FC
YT04906-089.50 2021-05-18   21      CAT   41.0           861.0   FC
YT04906-089.50 2021-06-15   58      CAT   41.0          2378.0   FC
YT04906-089.50 2021-07-20   36      CAT   41.0          1476.0   FC

In [10]:
# Add column Org
jax_fc["Org"] = "JAX"
jax_fc.head()

                     Date  Qty Customer  Price  Extended Price Type  Org
Item
YT04906-089.50 2021-03-16   22      CAT   41.0           902.0   FC  JAX
YT04906-089.50 2021-04-20   33      CAT   41.0          1353.0   FC  JAX
YT04906-089.50 2021-05-18   21      CAT   41.0           861.0   FC  JAX
YT04906-089.50 2021-06-15   58      CAT   41.0          2378.0   FC  JAX
YT04906-089.50 2021-07-20   36      CAT   41.0          1476.0   FC  JAX

In [11]:
# New dataframe with updated forecast info
final_jax_fc = jax_fc
final_jax_fc

                     Date  Qty Customer  Price  Extended Price Type  Org
Item
YT04906-089.50 2021-03-16   22      CAT   41.0           902.0   FC  JAX
YT04906-089.50 2021-04-20   33      CAT   41.0          1353.0   FC  JAX
YT04906-089.50 2021-05-18   21      CAT   41.0           861.0   FC  JAX
YT04906-089.50 2021-06-15   58      CAT   41.0          2378.0   FC  JAX
YT04906-089.50 2021-07-20   36      CAT   41.0          1476.0   FC  JAX
...                   ...  ...      ...    ...             ...  ...  ...
YT50972-113.50 2021-07-29   40       PR   17.0           680.0   FC  JAX
YT50972-113.50 2021-08-30   40       PR   17.0           680.0   FC  JAX
YT50972-113.50 2021-09-29   60       PR   17.0          1020.0   FC  JAX
YT50972-113.50 2021-10-28   40       PR   17.0           680.0   FC  JAX
YT50972-113.50 2021-11-29   40       PR   17.0           680.0   FC  JAX

[316 rows x 7 columns]

In [12]:
# Check total count against resource file to ensure data is correct
final_jax_fc.count()

Date              316
Qty               316
Customer          316
Price             316
Extended Price    316
Type              316
Org               316
dtype: int64

In [13]:
# Sort by Date, then Item 
final_jax_fc = final_jax_fc.sort_values(["Item", "Date"])
final_jax_fc.head()

                     Date  Qty Customer  Price  Extended Price Type  Org
Item
YT04906-089.50 2021-03-16   22      CAT   41.0           902.0   FC  JAX
YT04906-089.50 2021-04-20   33      CAT   41.0          1353.0   FC  JAX
YT04906-089.50 2021-05-18   21      CAT   41.0           861.0   FC  JAX
YT04906-089.50 2021-06-15   58      CAT   41.0          2378.0   FC  JAX
YT04906-089.50 2021-07-20   36      CAT   41.0          1476.0   FC  JAX

In [14]:
# Save file to csv
final_jax_fc.to_csv("output_data/final_jax_fc_2.csv")

In [15]:
# Save to Excel
final_jax_fc.to_excel("output_data/final_jax_fc_2.xlsx")

## Lex forecast clean up

In [16]:
# Load lex fc file
lex_fc_file = "Resources/LEX FC EXCEL.xlsx"

# Read Excel file into DataFrame, set Item as index
#jax_fc = pd.read_csv(jax_fc_file, index_col = "Item", parse_dates=["Date"])
lex_fc = pd.read_excel(lex_fc_file, index_col = "Item")
lex_fc.head()

,Bucket,Date,End Date,Number of Buckets,Current,Original,Total,Confidence(%),Project Number,Unnamed: 10,Task Number,Line,Customer,Price,Forecast,[ ]
Item,,,,,,,,,,,,,,,,
YT05001-058.75,Days,2021-04-29,NaN,1,61,61,61,100,NaN,NaN,NaN,NaN,PR,10.0,LEX-FCST,.
YT05001-058.75,Days,2021-05-28,NaN,1,61,61,61,100,NaN,NaN,NaN,NaN,PR,10.0,LEX-FCST,.
YT05001-058.75,Days,2021-06-29,NaN,1,61,61,61,100,NaN,NaN,NaN,NaN,PR,10.0,LEX-FCST,.
YT05001-058.75,Days,2021-07-29,NaN,1,61,61,61,100,NaN,NaN,NaN,NaN,PR,10.0,LEX-FCST,.
YT05001-058.75,Days,2021-08-30,NaN,1,61,61,61,100,NaN,NaN,NaN,NaN,PR,10.0,LEX-FCST,.

In [17]:
# Remove extra columns 
lex_fc = lex_fc[["Date", "Current", "Customer", "Price"]]
lex_fc.head()

                     Date  Current Customer  Price
Item
YT05001-058.75 2021-04-29       61       PR   10.0
YT05001-058.75 2021-05-28       61       PR   10.0
YT05001-058.75 2021-06-29       61       PR   10.0
YT05001-058.75 2021-07-29       61       PR   10.0
YT05001-058.75 2021-08-30       61       PR   10.0

In [18]:
# Change Current to Qty
lex_fc = lex_fc.rename(columns = {"Current": "Qty"})
lex_fc.head()

                     Date  Qty Customer  Price
Item
YT05001-058.75 2021-04-29   61       PR   10.0
YT05001-058.75 2021-05-28   61       PR   10.0
YT05001-058.75 2021-06-29   61       PR   10.0
YT05001-058.75 2021-07-29   61       PR   10.0
YT05001-058.75 2021-08-30   61       PR   10.0

In [19]:
# Remove Qty 0
lex_fc = lex_fc[lex_fc["Qty"] != 0]
lex_fc.head()

                     Date  Qty Customer  Price
Item
YT05001-058.75 2021-04-29   61       PR   10.0
YT05001-058.75 2021-05-28   61       PR   10.0
YT05001-058.75 2021-06-29   61       PR   10.0
YT05001-058.75 2021-07-29   61       PR   10.0
YT05001-058.75 2021-08-30   61       PR   10.0

In [20]:
#Check data types
lex_fc.dtypes

Date        datetime64[ns]
Qty                  int64
Customer            object
Price              float64
dtype: object

In [21]:
# Count of items
lex_fc.count()

Date        560
Qty         560
Customer    560
Price       560
dtype: int64

In [22]:
# Add extended price column and populate with Price * Qty
lex_fc["Extended Price"] = lex_fc.Price * lex_fc.Qty
lex_fc.head()

                     Date  Qty Customer  Price  Extended Price
Item
YT05001-058.75 2021-04-29   61       PR   10.0           610.0
YT05001-058.75 2021-05-28   61       PR   10.0           610.0
YT05001-058.75 2021-06-29   61       PR   10.0           610.0
YT05001-058.75 2021-07-29   61       PR   10.0           610.0
YT05001-058.75 2021-08-30   61       PR   10.0           610.0

In [23]:
# Add column TYPE
lex_fc["Type"] = "FC"
lex_fc.head()

                     Date  Qty Customer  Price  Extended Price Type
Item
YT05001-058.75 2021-04-29   61       PR   10.0           610.0   FC
YT05001-058.75 2021-05-28   61       PR   10.0           610.0   FC
YT05001-058.75 2021-06-29   61       PR   10.0           610.0   FC
YT05001-058.75 2021-07-29   61       PR   10.0           610.0   FC
YT05001-058.75 2021-08-30   61       PR   10.0           610.0   FC

In [24]:
# Add column Org
lex_fc["Org"] = "LEX"
lex_fc.head()

                     Date  Qty Customer  Price  Extended Price Type  Org
Item
YT05001-058.75 2021-04-29   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-05-28   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-06-29   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-07-29   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-08-30   61       PR   10.0           610.0   FC  LEX

In [25]:
# New dataframe with updated forecast info
final_lex_fc = lex_fc
final_lex_fc

                     Date  Qty Customer    Price  Extended Price Type  Org
Item
YT05001-058.75 2021-04-29   61       PR     10.0           610.0   FC  LEX
YT05001-058.75 2021-05-28   61       PR     10.0           610.0   FC  LEX
YT05001-058.75 2021-06-29   61       PR     10.0           610.0   FC  LEX
YT05001-058.75 2021-07-29   61       PR     10.0           610.0   FC  LEX
YT05001-058.75 2021-08-30   61       PR     10.0           610.0   FC  LEX
...                   ...  ...      ...      ...             ...  ...  ...
YT449099       2021-09-29    1      CAT  65820.0         65820.0   FC  LEX
YT449099       2021-10-28    1      CAT  65820.0         65820.0   FC  LEX
YT449109       2021-07-15    1      CAT  66554.0         66554.0   FC  LEX
YT449109       2021-07-16    1      CAT  66554.0         66554.0   FC  LEX
YT50972-234.50 2021-07-13    3      CAT     21.0            63.0   FC  LEX

[560 rows x 7 columns]

In [26]:
# Check total count against resource file to ensure data is correct
final_lex_fc.count()

Date              560
Qty               560
Customer          560
Price             560
Extended Price    560
Type              560
Org               560
dtype: int64

In [27]:
# Sort by Date, then Item 
final_lex_fc = final_lex_fc.sort_values(["Item", "Date"])
final_lex_fc.head()

                     Date  Qty Customer  Price  Extended Price Type  Org
Item
YT05001-058.75 2021-04-29   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-05-28   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-06-29   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-07-29   61       PR   10.0           610.0   FC  LEX
YT05001-058.75 2021-08-30   61       PR   10.0           610.0   FC  LEX

In [28]:
# Save file to csv
final_lex_fc.to_csv("output_data/final_lex_fc_2.csv")

In [29]:
# Save to Excel
final_lex_fc.to_excel("output_data/final_lex_fc_2.xlsx")

## Merge Jax and Lex forecasts

In [30]:
# Merge jax_fc and lex_fc
both = [jax_fc, lex_fc]
total_fc = pd.concat(both)
total_fc.head()

                     Date  Qty Customer  Price  Extended Price Type  Org
Item
YT04906-089.50 2021-03-16   22      CAT   41.0           902.0   FC  JAX
YT04906-089.50 2021-04-20   33      CAT   41.0          1353.0   FC  JAX
YT04906-089.50 2021-05-18   21      CAT   41.0           861.0   FC  JAX
YT04906-089.50 2021-06-15   58      CAT   41.0          2378.0   FC  JAX
YT04906-089.50 2021-07-20   36      CAT   41.0          1476.0   FC  JAX

In [31]:
# Check count against jax plus lex fc counts
total_fc.count()

Date              876
Qty               876
Customer          876
Price             876
Extended Price    876
Type              876
Org               876
dtype: int64

In [32]:
# Save file to csv
total_fc.to_csv("output_data/total_fc.csv")

## Jax open orders clean up

In [48]:
# Load jax so file
jax_so_file = "Resources/JAX OPEN ORDERS.csv"

# Read csv file into DataFrame, set Item as index
#jax_so = pd.read_csv(jax_so_file, index_col = "Item", encoding = "ISO-8859â€“1")
jax_so = pd.read_csv(jax_so_file, index_col = "Item")
jax_so.head()

,Item Description,Planner,Order Type,Order#,Ln#,Ordered Date,Line Creation Date,Line Update Date,Request Date,Schedule Date,...,Material Cost,Material OH Cost,Resource Cost,Overhead Cost,OSP Cost,Customer Name,Address Line 1,Address Line 2,Address Line 3,Address Line 4
Item,,,,,,,,,,,,,,,,,,,,,
YT02190-806,D6 RADIATOR YTF 106 PAL CB BOX - FINAL ASSEMBLY,3,YTS-DOMESTIC,562857.0,1.0,08-DEC-20,08-DEC-20,10-DEC-20,28-DEC-20,04-MAR-21,...,"1,121.19",NaN,184.10,711.62,42.0,MOTIVE POWER-BOISE,901 FRANKLIN AVENUE,BUILDING 18 SOUTH DOCK,"Erie,PA 16531 - US",NaN
YT02753,"TEE, 3/8"" NPT - ( BLACK PIPE )",PI,YTS-INTERNATIONAL,562627.0,1.0,09-NOV-20,09-NOV-20,07-DEC-20,23-MAR-21,22-JAN-21,...,1.89,NaN,NaN,NaN,NaN,WABTEC BRASIL FABRICAÃ‡ÃƒO E MANUTENÃ‡ÃƒO,AV. GENERAL DAVID SARNOFF,"CIDADE INDUSTRIAL, 4600","CONTAGEM/MG, 32210-110 - BR",NaN
YT02758,CORE TO TANK FLEX CONNECT - GE/TCS,HO,YTS-DOMESTIC,562556.0,1.0,30-OCT-20,30-OCT-20,30-OCT-20,08-JAN-21,06-JAN-21,...,27.60,NaN,NaN,NaN,NaN,"WABTEC TRANSPORTATION SYSTEMS, LLC",6300 MUIRFIELD DRIVE,"HANOVER PARK,IL 60133-5462 - US",NaN,NaN
YT02758,CORE TO TANK FLEX CONNECT - GE/TCS,HO,YTS-DOMESTIC,562901.0,1.0,14-DEC-20,14-DEC-20,15-DEC-20,22-JAN-21,05-FEB-21,...,27.60,NaN,NaN,NaN,NaN,"WABTEC TRANSPORTATION SYSTEMS, LLC",6300 MUIRFIELD DRIVE,"HANOVER PARK,IL 60133-5462 - US",NaN,NaN
YT04088-805,RH BANK GE TCS 6000 YTF 105 YTF 104 STD PAL/PL...,3,YTS-DOMESTIC,561979.0,1.0,24-AUG-20,24-AUG-20,24-AUG-20,22-FEB-21,12-FEB-21,...,"10,229.62",NaN,"1,101.71","4,071.68",NaN,"WABTEC TRANSPORTATION SYSTEMS, LLC",CSC NORTH PLATTE,6010 W. FRONT STREET,"NORTH PLATTE,NE 69101 - US",NaN

In [37]:
# List of columns
list(jax_so.columns)

['Item Description',
 'Planner',
 'Order Type',
 'Order#',
 'Ln#',
 'Ordered Date',
 'Line Creation Date',
 'Line Update Date',
 'Request Date',
 'Schedule Date',
 'Promise Date',
 'Open Qty',
 'Price',
 'Extended Price',
 'Item Cost ',
 'Material Cost',
 'Material OH Cost',
 'Resource Cost',
 'Overhead Cost',
 'OSP Cost',
 'Customer Name',
 'Address Line 1',
 'Address Line 2',
 'Address Line 3',
 'Address Line 4']

In [38]:
# Narrow down columns 
jax_so = jax_so[["Schedule Date", "Open Qty", "Customer Name", "Planner", "Price", "Extended Price"]]
jax_so.head()

,Schedule Date,Open Qty,Customer Name,Planner,Price,Extended Price
Item,,,,,,
YT02190-806,04-MAR-21,4.0,MOTIVE POWER-BOISE,3,"2,485.00","9,940.00"
YT02753,22-JAN-21,50.0,WABTEC BRASIL FABRICAÃ‡ÃƒO E MANUTENÃ‡ÃƒO,PI,2.43,121.50
YT02758,06-JAN-21,16.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",HO,68.00,"1,088.00"
YT02758,05-FEB-21,25.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",HO,68.00,"1,700.00"
YT04088-805,12-FEB-21,1.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",3,"22,904.00","22,904.00"

In [39]:
# Rename Open Qty to Qty and Date to Schedule Date to match open orders
jax_so = jax_so.rename(columns = { "Schedule Date" : "Date",
                                  "Open Qty": "Qty", 
                                  "Customer Name": "Customer",
                                  "Planner": "PC",
                                 })
jax_so.head()

,Date,Qty,Customer,PC,Price,Extended Price
Item,,,,,,
YT02190-806,04-MAR-21,4.0,MOTIVE POWER-BOISE,3,"2,485.00","9,940.00"
YT02753,22-JAN-21,50.0,WABTEC BRASIL FABRICAÃ‡ÃƒO E MANUTENÃ‡ÃƒO,PI,2.43,121.50
YT02758,06-JAN-21,16.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",HO,68.00,"1,088.00"
YT02758,05-FEB-21,25.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",HO,68.00,"1,700.00"
YT04088-805,12-FEB-21,1.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",3,"22,904.00","22,904.00"

In [40]:
# Add column ORG, TYPE
jax_so["Org"] = "JAX"
jax_so["Type"] = "SO"
jax_so.head()

,Date,Qty,Customer,PC,Price,Extended Price,Org,Type
Item,,,,,,,,
YT02190-806,04-MAR-21,4.0,MOTIVE POWER-BOISE,3,"2,485.00","9,940.00",JAX,SO
YT02753,22-JAN-21,50.0,WABTEC BRASIL FABRICAÃ‡ÃƒO E MANUTENÃ‡ÃƒO,PI,2.43,121.50,JAX,SO
YT02758,06-JAN-21,16.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",HO,68.00,"1,088.00",JAX,SO
YT02758,05-FEB-21,25.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",HO,68.00,"1,700.00",JAX,SO
YT04088-805,12-FEB-21,1.0,"WABTEC TRANSPORTATION SYSTEMS, LLC",3,"22,904.00","22,904.00",JAX,SO

In [41]:
# Check data types
jax_so.dtypes

Date               object
Qty               float64
Customer           object
PC                 object
Price              object
Extended Price     object
Org                object
Type               object
dtype: object

In [42]:
# Check count
jax_so.count()

Date              245
Qty               245
Customer          245
PC                245
Price             245
Extended Price    245
Org               250
Type              250
dtype: int64

In [43]:
# Save file to csv
jax_so.to_csv("output_data/jax_so.csv", date_format='%Y-%m-%d')

## Lex open orders clean up

In [46]:
# Load jax so file
lex_so_file = "Resources/LEX OPEN ORDERS.csv"

# Read csv file into DataFrame, set Item as index
lex_so = pd.read_csv(lex_so_file, index_col = "Item", encoding = "ISO-8859â€“1")
lex_so.head()

,Item Description,Planner,Order Type,Order#,Ln#,Ordered Date,Line Creation Date,Line Update Date,Request Date,Schedule Date,...,Material Cost,Material OH Cost,Resource Cost,Overhead Cost,OSP Cost,Customer Name,Address Line 1,Address Line 2,Address Line 3,Address Line 4
Item,,,,,,,,,,,,,,,,,,,,,
YT#500829,FR.19.N.X.1.2.8.1.15.M.X.X.X.X.G.G.C.X.X.X.X,4,YTS-INTERNATIONAL,561686.0,2.0,14-JUL-20,15-JUL-20,16-JUL-20,15-JUL-20,18-SEP-20,...,"3,349.59",NaN,58.88,238.09,0.00,C H BULL CO,PERKANTORAN KEBON JERUK BARU B,JAKARTA,"JAKARTA,INDONESIA 11530 - ID",NaN
YT000000L,SPECIAL CHARGES LEXINGTON,292,YTS-DOMESTIC,561460.0,4.0,21-AUG-20,06-AUG-20,21-AUG-20,07-AUG-20,21-AUG-20,...,NaN,NaN,NaN,NaN,NaN,DEHN ENGINEERING SALES CO,852 LINCOLN BLVD SW,JOINT BASE LEWIS MCCORD,"Joint Base Lewis Mcchord,WA 98438 - US",NaN
YT000COC,CERT OF COMPLIANCE,PHANTOM,YTS-INTERNATIONAL,561322.0,4.0,29-MAY-20,29-MAY-20,02-JUN-20,04-SEP-20,04-SEP-20,...,10.00,NaN,NaN,NaN,NaN,LUREYE ELECTROMECANICA SA,FREIGHT FORWARDER,11190 NW 25 ST BLDG 5 SUITE 120,"Miami,FL 33172 - US",NaN
YT000COC,CERT OF COMPLIANCE,PHANTOM,YTS-INTERNATIONAL,561729.0,2.0,21-JUL-20,21-JUL-20,21-JUL-20,14-SEP-20,04-SEP-20,...,10.00,NaN,NaN,NaN,NaN,WESCO SPS,C/O PANALPINA INC,19409 KENSWICK DRIVE,"Humble,TX 77338 - US",NaN
YT000COC,CERT OF COMPLIANCE,PHANTOM,YTS-DOMESTIC,561257.0,2.0,26-MAY-20,26-MAY-20,27-MAY-20,21-AUG-20,04-SEP-20,...,10.00,NaN,NaN,NaN,NaN,FAIRBANKS MORSE ENG DIV,FAIRBANKS MORSE LLC,701 WHITE AVENUE,"Beloit,WI 53511 - US",NaN

In [49]:
# List of columns
list(lex_so.columns)

['Item Description',
 'Planner',
 'Order Type',
 'Order#',
 'Ln#',
 'Ordered Date',
 'Line Creation Date',
 'Line Update Date',
 'Request Date',
 'Schedule Date',
 'Promise Date',
 'Open Qty',
 'Price',
 'Extended Price',
 'Item Cost ',
 'Material Cost',
 'Material OH Cost',
 'Resource Cost',
 'Overhead Cost',
 'OSP Cost',
 'Customer Name',
 'Address Line 1',
 'Address Line 2',
 'Address Line 3',
 'Address Line 4']

In [50]:
# Narrow down columns 
lex_so = lex_so[["Schedule Date", "Open Qty", "Customer Name", "Planner", "Price", "Extended Price"]]
lex_so.head()

,Schedule Date,Open Qty,Customer Name,Planner,Price,Extended Price
Item,,,,,,
YT#500829,18-SEP-20,1.0,C H BULL CO,4,"11,267.88","11,267.88"
YT000000L,21-AUG-20,1.0,DEHN ENGINEERING SALES CO,292,900.00,900.00
YT000COC,04-SEP-20,1.0,LUREYE ELECTROMECANICA SA,PHANTOM,50.00,50.00
YT000COC,04-SEP-20,1.0,WESCO SPS,PHANTOM,50.00,50.00
YT000COC,04-SEP-20,3.0,FAIRBANKS MORSE ENG DIV,PHANTOM,50.00,150.00

In [51]:
# Rename Open Qty to Qty and Date to Schedule Date to match open orders
lex_so = lex_so.rename(columns = { "Schedule Date" : "Date",
                                  "Open Qty": "Qty", 
                                  "Customer Name": "Customer",
                                  "Planner": "PC",
                                 })
lex_so.head()

,Date,Qty,Customer,PC,Price,Extended Price
Item,,,,,,
YT#500829,18-SEP-20,1.0,C H BULL CO,4,"11,267.88","11,267.88"
YT000000L,21-AUG-20,1.0,DEHN ENGINEERING SALES CO,292,900.00,900.00
YT000COC,04-SEP-20,1.0,LUREYE ELECTROMECANICA SA,PHANTOM,50.00,50.00
YT000COC,04-SEP-20,1.0,WESCO SPS,PHANTOM,50.00,50.00
YT000COC,04-SEP-20,3.0,FAIRBANKS MORSE ENG DIV,PHANTOM,50.00,150.00

In [52]:
# Add column ORG, TYPE
lex_so["Org"] = "LEX"
lex_so["Type"] = "SO"
lex_so.head()

,Date,Qty,Customer,PC,Price,Extended Price,Org,Type
Item,,,,,,,,
YT#500829,18-SEP-20,1.0,C H BULL CO,4,"11,267.88","11,267.88",LEX,SO
YT000000L,21-AUG-20,1.0,DEHN ENGINEERING SALES CO,292,900.00,900.00,LEX,SO
YT000COC,04-SEP-20,1.0,LUREYE ELECTROMECANICA SA,PHANTOM,50.00,50.00,LEX,SO
YT000COC,04-SEP-20,1.0,WESCO SPS,PHANTOM,50.00,50.00,LEX,SO
YT000COC,04-SEP-20,3.0,FAIRBANKS MORSE ENG DIV,PHANTOM,50.00,150.00,LEX,SO

In [53]:
# Check data types
lex_so.dtypes

Date               object
Qty               float64
Customer           object
PC                 object
Price              object
Extended Price     object
Org                object
Type               object
dtype: object

In [54]:
# Check count
lex_so.count()

Date              550
Qty               550
Customer          550
PC                550
Price             550
Extended Price    550
Org               555
Type              555
dtype: int64

In [55]:
# Save file to csv
lex_so.to_csv("output_data/lex_so.csv", date_format='%Y-%m-%d')