## Directions for report download and clean up
* YTS ALL Crystal Reports
* YTS Open Order with Forecast
* Open, delete top row, file, save as YTF-8 csv file into Resources folder (or Excel file)
* Users/ekeymon/Documents/YTS Open Order & FC/Resources

In [1]:
# Import libraries
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import datetime
import matplotlib as plt

In [2]:
# Load YTS Open Order with Forecast file from Resources folder
file = "Resources/YTS Open Order with Forecast.xlsx"

# Read excel file into DataFrame, set ITEM as index
data = pd.read_excel(file, index_col = "ITEM")

#Check datafram
data.head()

,DATE,QTY,CUSTOMER,PLANNER CODE,UNIT SELLING PRICE,EXT PRICE,ORG,TYPE
ITEM,,,,,,,,
YT435102-815,2020-11-30 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-18 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-04 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-07 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-10 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO

In [3]:
# Check dataframe versus csv file, compare # rows 
data

,DATE,QTY,CUSTOMER,PLANNER CODE,UNIT SELLING PRICE,EXT PRICE,ORG,TYPE
ITEM,,,,,,,,
YT435102-815,2020-11-30 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-18 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-04 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-07 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-10 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
...,...,...,...,...,...,...,...,...
YT446368-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC
YT442967-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC
YT442968-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC
YT446367-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC
YT446368-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC

In [4]:
# Rename columns
data.rename(columns={"PLANNER CODE": "PC",
                    "UNIT SELLING PRICE": "PRICE"})

,DATE,QTY,CUSTOMER,PC,PRICE,EXT PRICE,ORG,TYPE
ITEM,,,,,,,,
YT435102-815,2020-11-30 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-18 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-04 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-07 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
YT435102-815,2020-12-10 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO
...,...,...,...,...,...,...,...,...
YT446368-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC
YT442967-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC
YT442968-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC
YT446367-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC
YT446368-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC

## Import lookup file

In [5]:
# Load lookup file
lookup_file = "Resources/LOOKUP.xlsx"

# Read excel file into DataFrame, set Item as index
lookup = pd.read_excel(lookup_file, index_col = "ITEM")
lookup

                              CUSTOMER       PC  ORG  EU'S/# HOLES          $
ITEM
YT#500826           BOBCAT BAHAMAS-DIV        4  LEX      1.610116  18530.000
YT#500827           BOBCAT BAHAMAS-DIV        4  LEX      1.789252  24389.000
YT#500828                PRO DYNE CORP        4  LEX      1.239199  10172.340
YT#500829                  C H BULL CO        4  LEX      1.239199  11267.880
YT#500830                  C H BULL CO        4  LEX      1.216544   5910.460
...                                ...      ...  ...           ...        ...
YTEXPCRT                 PRO DYNE CORP      BUY  LEX      0.000000    882.260
YTEXPCRTVCI   BEARWARD ENGINEERING LTD     CUST  LEX      0.000000   2571.644
YTEXPEDITE   DEHN ENGINEERING SALES CO      BUY  LEX      0.000000    340.000
YTNAFTA                   TOROMONT CAT  PHANTOM  LEX      0.000000     50.000
YTPHOTO                    C H BULL CO  PHANTOM  LEX      0.000000     20.000

[1192 rows x 5 columns]

In [6]:
# Simulate v lookup
df = data.merge(lookup, on = "ITEM", how = "left")
df

,DATE,QTY,CUSTOMER_x,PLANNER CODE,UNIT SELLING PRICE,EXT PRICE,ORG_x,TYPE,CUSTOMER_y,PC,ORG_y,EU'S/# HOLES,$
ITEM,,,,,,,,,,,,,
YT435102-815,2020-11-30 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-18 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-04 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-07 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-10 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YT446368-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,2.010000,19654.00
YT442967-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,1.000000,8265.00
YT442968-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,1.000000,8231.00
YT446367-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,2.010000,19654.00
YT446368-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,2.010000,19654.00

In [7]:
# Rename columns
df.rename(columns={"PLANNER CODE": "PC",
                  "UNIT SELLING PRICE": "PRICE",
                  "$": "PRICE2"})

,DATE,QTY,CUSTOMER_x,PC,PRICE,EXT PRICE,ORG_x,TYPE,CUSTOMER_y,PC,ORG_y,EU'S/# HOLES,PRICE2
ITEM,,,,,,,,,,,,,
YT435102-815,2020-11-30 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-18 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-04 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-07 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
YT435102-815,2020-12-10 23:59:00,1,CATERPILLAR INC,05,20765.78,20765.78,LEX,SO,CATERPILLAR INC,05,LEX,2.029442,20765.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
YT446368-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,2.010000,19654.00
YT442967-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,1.000000,8265.00
YT442968-807,2021-12-13 00:00:00,3,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,1.000000,8231.00
YT446367-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,2.010000,19654.00
YT446368-807,2021-12-23 00:00:00,2,NaN,03,0.00,0.00,JAX,FC,"WABTEC TRANSPORTATION SYSTEMS, LLC",03,JAX,2.010000,19654.00

In [ ]:
# Add extended price column and populate with Price * Qty
#df["TOTAL $"] = df."$" * df.Qty

In [ ]:
# Save file to csv
df.to_csv("Output/report.csv")